# Environment files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Flutter / Dart
build/
.dart_tool/

# Node
node_modules/